# Ignore files/folders with path deeper or same as gitignore
/**/alpha
# or as shorthand version:
alpha

# Ignore files/folders with directory same as gitignore
/bravo

# Ignore files/folders with directory 1 level deeper than gitignore
/*/charlie

# Ignore files/folders with directory 3 levels deeper than gitignore
/*/*/*/delta

# Ignore files/folders named 'echo' except in 'site/content'
/**/echo
!/site/content/**/echo
